* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
body{
    background: orange;
}
/* Button Styles */
button{
	background: none;
	border: none;
	padding: 0;
    color: inherit;
	font-size: large;
	cursor: pointer;
	outline: inherit;
}
.orb > button {
    color: white;
}


.timer {
    text-align: center;
    padding-top: 50px;
    max-width: 1200px;
    margin: auto;

}
.background {
    background-color: orange;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}
.contents{
    padding-top: 100px;
}
.orb{
    background-color: red;
    width: 160px;
    height: 160px;
    position: relative;
    top: -30px;
    border-radius: 50%;

}
.right{
    float: right;
    background-color: orangered;
}

/* Break Box */
#break-box{
    background-image: linear-gradient(to left, rgba(255,0,0,0), cyan);
    text-align: left;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    padding-left: 100px;
    position: absolute;
    z-index: 1;
    top: 290px;
}
/* Session Box */
#session-box{
    background-image: linear-gradient(to right, rgba(255,0,0,0), aquamarine);
    text-align: right;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    padding-right: 100px;
    position: absolute;
    z-index: 1;
    top: 410px;
}
/* Tomato Block */
#timer-box{
    position: relative;
    z-index: 99;
    margin: auto;
    background-color: brown;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    
}
#timer-label {
    font-size: 40px;
}
#time-left {
    font-size: 80px;
}
#start_stop, #reset{
    width: 30%;
}
