* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
.timer {
    text-align: center;
}
.background {
    background-color: orange;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}
.contents{
    margin-top: 60px;
    /* remove below this */
    background-color: red;
    padding: 5px;
}

/* Break Box */
#break-box{
    /* background-image: linear-gradient(to left, rgba(255,0,0,0), cyan); */
    background-color: cyan;
    text-align: left;
    width: 100%;
    padding-left: 100px;
    position: absolute;
    z-index: 1;
}

/* Session Box */
#session-box{
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), aquamarine); */
    background-color: aquamarine;
    text-align: right;
    width: 100%;
    padding-right: 100px;
    position: absolute;
    z-index: 1;

}

/* Tomato Block */
#timer-box{
    position: relative;
    z-index: 99;
    margin: auto;
    background-color: brown;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    
}
#timer-label {
    font-size: 40px;
}
#time-left {
    font-size: 80px;
    background-color: red;
}
#start_stop, #reset{
    width: 30%;
}
