@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
  --background-color: #e66465;
}
body {
  background: radial-gradient(
    var(--background-color),
    color-mix(in srgb, var(--background-color) 50%, rgb(15, 15, 205))
  );
  background-repeat: no-repeat;
  padding: 0 1rem;
}
/* Button Styles */
button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font-size: large;
  cursor: pointer;
  outline: inherit;
}
.contents {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#planet {
  margin: auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5),
    0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 70px 0px 60px;
  & h1 {
    font-size: 3rem;
  }
  #button-box {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  & p {
    font-size: 4rem;
  }
}
#comets-box {
  position: absolute;
  /* background-color: pink; */
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 5rem; */
}

/* Moons Section */
.break-stripe,
.session-stripe {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  /* overflow: hidden; */
  /* background-color: red; */
  display: flex;
  align-items: center;
}
.break-stripe {
  justify-content: flex-start;
  background-image: linear-gradient(
      to right,
      orange,
      20%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, cyan, rgba(255, 255, 255, 0));
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding-left: 100px;
}
.session-stripe {
  background-image: linear-gradient(
      to left,
      orange,
      10%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to left, aquamarine, rgba(255, 0, 0, 0));
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-right: 100px;
  justify-content: end;
}
.orb {
  background-color: red;
  width: 160px;
  height: 160px;
  /* position: relative; */
  /* top: -30px; */
  border-radius: 50%;
  /* z-index: 999; */
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5),
    3px 3px 10px rgba(0, 0, 0, 0.2);
}
.orb-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}
.right {
  float: right;
  background-color: orangered;
}
#session-length {
  font-size: 30px;
}
#break-length {
  font-size: 30px;
}

.four-point-star::after,
.four-point-star::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2726';
  font-size: 6rem;
}
/* Repetitive star styling */
.star0 {
  position: relative;
  left: 200px;
  top: 50px;
}
.star0::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(212, 43, 141);
}
.star0::after {
  background: linear-gradient(
    135deg,
    rgba(255, 191, 183, 1) 20%,
    rgba(243, 44, 117, 1) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star1 {
  position: relative;
  left: 100px;
  top: 600px;
}
.star1::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(41, 187, 31);
}
.star1::after {
  background: linear-gradient(
    135deg,
    rgb(217, 243, 188) 20%,
    rgb(14, 180, 70) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star2 {
  position: relative;
  top: 410px;
  right: 330px;
}
.star2::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(55, 125, 230);
}
.star2::after {
  background: linear-gradient(
    135deg,
    rgb(183, 250, 255) 20%,
    rgb(3, 137, 130) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star3 {
  position: relative;
  right: 200px;
  top: 120px;
}
.star3::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(155, 126, 42);
}
.star3::after {
  background: linear-gradient(
    135deg,
    rgb(249, 228, 144) 20%,
    rgb(177, 142, 4) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
