@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
:root {
  --background-color: #e66465;

  /* stars */
  --color-blue: rgb(3, 137, 130);
  --color-gold: rgb(177, 142, 4);
  --color-red: rgba(243, 44, 117, 1);
  --color-green: rgb(14, 180, 70);

  /* comets */
  --color-comet: orangered;

  /* shadows */
  --shadow-ball: inset -25px -25px 40px rgba(0, 0, 0, 0.5),
    0 3px 10px rgb(0 0 0 / 0.2);
}
* {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
}
body {
  background: radial-gradient(
    var(--background-color),
    color-mix(in srgb, var(--background-color) 50%, rgb(15, 15, 205))
  );
  background-repeat: no-repeat;
  padding: 0 1rem;
}

/* Button Styles */
button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font-size: large;
  cursor: pointer;
  outline: inherit;
}
.contents {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ball {
  border-radius: 50%;
  box-shadow: var(--shadow-ball);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#planet {
  width: 400px;
  height: 400px;
  justify-content: space-between;
  z-index: 99;
  padding: 70px 0px 60px;
  & h1 {
    font-size: 3rem;
  }
  #button-box {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  & p {
    font-size: 4rem;
  }
}
#comets-box {
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .break-stripe,
  .session-stripe {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    .orb {
      background-color: var(--color-comet);
      width: 160px;
      height: 160px;
      justify-content: center;
      .time-controls {
        display: flex;
        align-items: center;
        & button {
          font-size: 2rem;
        }
        & span {
          font-size: 30px;
          margin: 0 0.5rem;
        }
      }
    }
  }
  .break-stripe {
    justify-content: flex-start;
    background-image: linear-gradient(
        to right,
        orange,
        20%,
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(to right, cyan, rgba(255, 255, 255, 0));
    border-radius: 50% 0 0 50%;
    padding-left: 100px;
  }
  .session-stripe {
    justify-content: end;
    background-image: linear-gradient(
        to left,
        orange,
        10%,
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(to left, aquamarine, rgba(255, 0, 0, 0));
    border-radius: 0 50% 50% 0;
    padding-right: 100px;
  }
}

/* Moons Section */

#stars-box {
  position: absolute;
}
.four-point-star {
  &:after,
  &:before {
    position: absolute;
    content: '\2726';
    font-size: 6rem;
  }
  position: relative;
  animation: 3s infinite alternate leftRight;
}
#star0 {
  animation-delay: 250ms;
  left: 200px;
  top: -300px;
  &:before {
    color: transparent;
    text-shadow: 2px 3px 10px rgb(212, 43, 141);
  }
  &:after {
    background: linear-gradient(
      135deg,
      rgba(255, 191, 183, 1) 20%,
      rgba(243, 44, 117, 1) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#star1 {
  animation-delay: -450ms;
  left: 130px;
  top: 140px;
  &:before {
    color: transparent;
    text-shadow: 2px 3px 10px rgb(41, 187, 31);
  }
  &:after {
    background: linear-gradient(
      135deg,
      rgb(217, 243, 188) 20%,
      rgb(14, 180, 70) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#star2 {
  animation-delay: 650ms;
  position: relative;
  top: -20px;
  left: -330px;
  &:before {
    color: transparent;
    /* text-shadow: 2px 3px 10px var(--color-blue); */
    /* text-shadow: 2px 3px 10px color-mix(in srgb, rgb(3, 137, 130) 90%, white); */
    animation: 1s infinite alternate twinkle;
  }
  &:after {
    background: linear-gradient(
      135deg,
      color-mix(in srgb, var(--color-blue) 10%, white) 20%,
      var(--color-blue) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#star3 {
  animation-delay: -850ms;
  position: relative;
  top: -260px;
  left: -230px;
  &:before {
    color: transparent;
    text-shadow: 2px 3px 10px rgb(155, 126, 42);
  }
  &:after {
    animation: twinkle;
    background: linear-gradient(
      135deg,
      rgb(249, 228, 144) 20%,
      rgb(177, 142, 4) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes leftRight {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 90px;
  }
}
@keyframes twinkle {
  from {
    text-shadow: 2px 3px 5px var(--color-blue);
  }
  to {
    text-shadow: 2px 3px 20px var(--color-blue);
  }
}
