@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  margin: 0;
  font-family: 'Orbitron', sans-serif;

  box-sizing: border-box;
}
body {
  background: radial-gradient(#e66465, #9198e5);
  width: 100vw;
  height: 100vh;
  z-index: -99;
  text-align: center;
  padding-top: 150px;
  max-width: 1200px;
  margin: auto;
}
/* Button Styles */
button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font-size: large;
  cursor: pointer;
  outline: inherit;
}
.orb > button {
  color: white;
  /* background-color: red; */
}

.title {
  position: absolute;
  top: 10px;
  right: 10px;
}
.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

/* Timer Ball Section*/
.timer-ball {
  position: relative;
  z-index: 99;
  margin: auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5),
    0 3px 10px rgb(0 0 0 / 0.2);
}
.timer-ball-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
}
#button-box {
  margin-top: 25px;
}
#button-box h3 {
  margin-bottom: 10px;
}

#timer-label {
  font-size: 40px;
}
#time-left {
  font-size: 80px;
}
#start_stop,
#reset {
  width: 30%;
}

/* Moons Section */
.boxes {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5rem;
}
.top-stripe {
  background-image: linear-gradient(
      to right,
      orange,
      20%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, cyan, rgba(255, 255, 255, 0));
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  padding-left: 100px;
  margin: auto;
}
.bottom-stripe {
  background-image: linear-gradient(
      to left,
      orange,
      10%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to left, aquamarine, rgba(255, 0, 0, 0));
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  padding-right: 100px;
  margin: auto;
}
.orb {
  background-color: red;
  width: 160px;
  height: 160px;
  position: relative;
  top: -30px;
  border-radius: 50%;
  z-index: 999;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5),
    3px 3px 10px rgba(0, 0, 0, 0.2);
}
.orb-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}
.right {
  float: right;
  background-color: orangered;
}
#session-length {
  font-size: 30px;
}
#break-length {
  font-size: 30px;
}

.four-point-star::after,
.four-point-star::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2726';
  font-size: 6rem;
}
/* Repetitive star styling */
.star0 {
  position: relative;
  left: 200px;
  top: 50px;
}
.star0::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(212, 43, 141);
}
.star0::after {
  background: linear-gradient(
    135deg,
    rgba(255, 191, 183, 1) 20%,
    rgba(243, 44, 117, 1) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star1 {
  position: relative;
  left: 100px;
  top: 600px;
}
.star1::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(41, 187, 31);
}
.star1::after {
  background: linear-gradient(
    135deg,
    rgb(217, 243, 188) 20%,
    rgb(14, 180, 70) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star2 {
  position: relative;
  top: 410px;
  right: 330px;
}
.star2::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(55, 125, 230);
}
.star2::after {
  background: linear-gradient(
    135deg,
    rgb(183, 250, 255) 20%,
    rgb(3, 137, 130) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star3 {
  position: relative;
  right: 200px;
  top: 120px;
}
.star3::before {
  color: transparent;
  text-shadow: 2px 3px 10px rgb(155, 126, 42);
}
.star3::after {
  background: linear-gradient(
    135deg,
    rgb(249, 228, 144) 20%,
    rgb(177, 142, 4) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
